#logError {
    opacity: 1;
    width: 100%;
    text-align: center;
    color: red;
    margin: 20px 0 0 0;
}

#logGood {
        opacity: 1;
        width: 100%;
        text-align: center;
        color: green;
        margin: 20px 0 0 0;
}